@charset "utf-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maitree:wght@200;300;400;500;600;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Hover effects */
@import url("hover-min.css");


:root {
    --title: "Maitree", sans-serif;
  --main-font: "Quicksand", "Roboto" serif;
  --navigation-font: "Maitree", sans-serif;

  /* Colors */
  --text: #000000;
  --background: #ffffff;

  /* Utility */
/* --form-shadow: 0 0 0.7rem var(--primary);
--small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
--boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
--border: 1px 1px 2px 1px; */
}

*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Maitree;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    /* color: ; */
} 

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Lato;
    color: #0e0e0e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.test {
    border: #740303 1px solid;
}

/* Homepage styling */

#logo {
    float: left;
    font-size: large;
}

.navbar button.navbar-toggler {
    transition: all 0.15s ease;
  }
  
  @media (hover: hover) {
    .navbar button.navbar-toggler:hover {
      
    }
  }

.callout-container {
    margin-top: 100px;
    border: 1px solid #000;
}

.hero {
    /* margin-bottom: 30px;
    padding: 50px;
    border: 1px solid #000;
    border-width: 2px; */
    /* background: url ("/workspace/netball-fanatic/assets/images/Group of netballers.png") no-repeat center center;
    background-size: cover; */
}

.hero-image {
    background-size: cover;
    background-position: center;
    /* height: 600px; */
    /* margin-top: 100px; */
}

.hero-text {
    color: #fcf9fb;
    border: 2px solid #333;
    padding: 10px;
    background-color: rgb(28, 139, 236);
}

.fa-solid {
    font-weight: 700;
}

.how-to-play {
    color: #ffffff;
    text-decoration: none;
   }

   .how-to-play a:hover {
    text-decoration: underline;
   }

   .how-to-play-btn {
    border: 1px solid #ffffff;
   }

.netball-shot-image {
    /* background-size: contain; */
    /* background-position: ; */
    height: 270px;
    width: 580px;
    border: 1px solid #000;
    /* padding: 20px; */
    /* padding-left: 25px; */
}

.what-is-netball {
    min-height: 200px;
    min-width: 200px;    
    padding: 20px;
}

.netball-intro-image {
    display: inline-flexbox;
}

/* .w-i-n {
    margin-bottom: 20px;
    border-bottom: 5px solid #a41b78;
} */

.netball-intro {
    min-height: 200px;
    border: 1px none #000;
    padding: 20px 5px 10px 20px;
}

.intro-para {
    margin: 15px;
    margin-bottom: 5px;
}

.netball-shot {
    position: relative;
    height: 215px;
    width: 350px;
}

.intro-image {
    /* height: 300px;
    width: 250px; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    height: 250px;
    width: 400px;
   }

   /* Footer styling */

   .footer-style {
    /* height: 30px;
    border-top: 0.5px none #4b4848; */
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.footer-style a i {
    height: 30px;
    color: #c50a80;
    
}

/* About Netball styling */

.brief-history-image {
    height: 230px;
    width: 470px;
    border: 1px solid #e31b99;
}

.netball-court-image {
    height: 550px;
    width: 500px;
    position: relative;
    /* border: 1px solid #740303; */
    margin-left: 50px;
    /* border: 5px solid #e31b99; */
}

.rules {
    line-height: 30px;
}

.rules-title {
    text-align: center;
}
.positions {
    margin-left: 0;
}

.bib-positions {
    height: 40px;
    width: 90px;
    row-gap: 20px;
    
}
.bg-info {
    --bs-bg-opacity: 0.5;
    background-color: #f4f6f8 !important;
    border: 2px solid #c50a80;
}

.gs-b-p {
    height: 60px;
    width: 60px;
    color: #e31b99;

}

/* Playing Netball styling */

/* <-- Tips start--> */
.tip-cards {
    background-color: #e31b99;
    color: #ffffff;
}

 .tips-container { 
    margin:50px 100px 50px 100px;
    
 }

.tip-title {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
}

.card-container {
    width: 250px;
    height: 160px;
    background: none;
       
}

.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.thecard:hover{
    transform: rotateY(180deg);
  }

.card-front {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #c50a80;
    color: #fafafa;
}

.card-front h4 {
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    
    }

    .card-front h6 {
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    }


.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    border: 2px solid #c50a80;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}
  .card-back {
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }

  .card-back p {    
    margin-top: 0;
    margin-bottom: 1rem;
  }


/* .tip-item {
    height: 200px;
}

.tip-content {
    text-align: center;
}

.tutorial-title {
    text-align: center;
} */ 


.tutorials-container {
    margin-top: 50px;

}

.tutorial-videos {
    height: 250px;
    gap: 1rem;

    .col-3 {
        width: 23%;
    }
}

.tutorial-videos .col-12.col-md-6.col-lg-3 {
    padding: 0 10px;
}

/* Contact page styling */

#feedback-form {    
    width: 600px;
    /* margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 20px; */
    padding-bottom: 12px;
    padding-top: 12px;
}

.button-link {
    background-color: #c50a80;
    padding: 10px;
    color: #ffffff;
    font-size: large;
    font-style: var(--navigation-font);
    font-weight: 600;
    border-radius: 25px;
    letter-spacing: 1px;
}

/* Contact page styling */

    /* For smaller screns */
 @media (max-width: 767px) {
    .form-control input[type="text"],
    .form-control input[type="email"],
    .form-control textarea {
        width: 100%;
    }
}

/* For larger screens, adjust text field lengths */
@media (min-width: 768px) {
    .form-control input[type="text"],
    .form-control input[type="email"],
    .form-control textarea {
        width: 90%;
    }
}

.card-body h2 {
    border-bottom: 2px solid #c50a80;
}
